<div class="form-row" [formGroup]="form">
    <div class="weui-cell">
        <div class="weui-cell__hd">
            <label class="weui-label">车牌号</label>
        </div>
        <div class="weui-cell__bd">
            <input class="weui-input" formControlName="carNum" type="text" placeholder="请输入车牌号">
        </div>
    </div>
    <div class="weui-cell">
        <div class="weui-cell__hd">
            <label class="weui-label">车架号</label>
        </div>
        <div class="weui-cell__bd">
            <input class="weui-input" formControlName="jarNum" type="text" placeholder="请输入车架号">
        </div>
    </div>
    <div class="weui-cell">
        <div class="weui-cell__hd">
            <label class="weui-label">行驶里程</label>
        </div>
        <div class="weui-cell__bd">
            <input class="weui-input" formControlName="licheng" type="text" placeholder="请输入行驶里程">
        </div>
    </div>
    <div class="weui-cell" *ngIf="op === 'share'">
        <div class="weui-cell__hd">
            <label class="weui-label">姓名</label>
        </div>
        <div class="weui-cell__bd">
            <input class="weui-input" formControlName="realname" type="text" placeholder="请输入姓名">
        </div>
    </div>
    <div class="weui-cell" *ngIf="op === 'share'">
        <div class="weui-cell__hd">
            <label class="weui-label">联系电话</label>
        </div>
        <div class="weui-cell__bd">
            <input class="weui-input" formControlName="mobile" type="text" placeholder="请输入联系电话">
        </div>
    </div>
</div>

<div class="form-row row-btn">
    <a href="javascript:;" (click)="cancel()" class="weui-btn weui-btn_default">取消</a>
    <a href="javascript:;" (click)="save()" class="weui-btn weui-btn_primary">保存</a>
    <a href="javascript:;" (click)="add()" class="weui-btn weui-btn_warn">开单</a>
</div>