<div id="container">
    <div id="carLicenseBox">
        <div class="carLicenseTitle">
            请输入车牌号
        </div>
        <div class="carLicenseMain">
            <ul>
                <li [class.active]="item.active" (click)="setActive(item)" *ngFor="let item of post">{{item.title}}</li>
                <li class="xinnengyuan" *ngIf="!xinnengyuan" (click)="isXinNengYuan()"></li>
            </ul>
        </div>
        <button class="submitBtn" (click)="doPost()">提交</button>
    </div>
    <div id="keyboardBox">
        <div class="provienceBox" *ngIf="!keyboard">
            <ul *ngFor="let item of proviences">
                <li [class]="it.class" (click)="onProvience(it)" *ngFor="let it of item" [innerHTML]="it.title"></li>
            </ul>
        </div>
        <div *ngIf="keyboard" class="textBox">
            <ul *ngFor="let item of list">
                <li [class]="it.class" (click)="onTextBox(it)" *ngFor="let it of item" [innerHTML]="it.title"></li>
            </ul>
        </div>
    </div>
</div>