<div class="app-header-conatiner">
    <div class="header-left" (click)="sidebar.toggleOpened()">
        <i class="ion-navicon"></i>
    </div>
    <div class="header-title">测试</div>
    <div class="header-left">
        <i class="ion-ios-more"></i>
    </div>
    <div class="drop-down">
        <ul>
            <li>测试</li>
            <li>测试</li>
            <li>测试</li>
            <li>测试</li>
            <li>测试</li>
            <li>测试</li>
            <li>测试</li>
            <li>测试</li>
        </ul>
    </div>
</div>
<weui-mask [loading]="loading"></weui-mask>
